body{
	font-family:"Poppins", Arial, sans-serif;
	background-image:url("../images/about.jpg");
	background-size:cover;
	position:fixed;
	background-repeat:no-repeat;
}
a{
	text-decoration:none;
	font-size:20px;
	color:#FFF;
	background-color:transparent;
}
/*li a:hover,#button:hover{
	color:#01d28e;
	cursor:pointer;
}*/
input[type="button"]:hover,input[type="reset"]:hover
{
    transition: all .3s ;
    background-color: aqua;
	font-size: 15px;
	cursor: pointer;
}
.middle {
	font-family: Arial; 
	position:relative;
	top:114px;
	left:740px;
	
}
.table
{
    color: #000;
    font-family: arial;
    font-size: 22px;
}
tr, td
{
    padding-top: 10px;
	padding-bottom: 10px;
}
img
{
	width:30px;
	margin-left:10px;
}
img:hover{
	width:35px;
	height:35px;
}
input[type="button"], input[type="reset"]{
	background-color:#1089ff;
	color:#FFF;
	font-size:15px;
	padding:8px;
	border:0px none white;
	margin-left:5px;
}
/*input[type="reset"]{
	background-color:#1089ff;
	font-size:15px;
	color:#FFF;
}*/
input[type="text"],input[type="password"]{
	font-size:15px;
	height:45px;
	border-radius:5px;
	width:93%;
	padding:0.375rem 0.75rem;
	font-weight:400;
	border:1px solid #ced4da;
}
